<div class=" mx-auto ">
<div class="row">
<div class="col-md-12 text-end"> <div class="col-md-6" style="margin-right: 0; float: right;">Приложение 1 к Договору от 31.05.2023 на оказание
 информационно-консультационных услуг </div></div>
</div>

<div class="fw-bold col-md-7 mt-4 text-center  mx-auto">
СОГЛАСИЕ НА ОБРАБОТКУ ПЕРСОНАЛЬНЫХ ДАННЫХ,
РАЗРЕШЕННЫХ СУБЪЕКТОМ ПЕРСОНАЛЬНЫХ ДАННЫХ ДЛЯ РАСПРОСТРАНЕНИЯ
</div>
<p class="mt-2 text-start">в соответствии со ст. 10.1 Федерального закона от 27.07.2006 № 152-ФЗ «О персональных данных», в целях содействия Заказчику в предоставлении консультационных услуг по в области образовательных мероприятий на портале НМО (edu.rosminzdrav.ru).</p>
<p class="fw-bold text-start">даю согласие </p>
<p class="text-start">Карташову Виталию Владимировичу сведения об операторе - физическом лице - фамилия, имя, отчество (при наличии), место жительства или место пребывания;</p>
<p class="text-start">на обработку и распространение следующих персональных данных:</p>
<p class="text-start"> - фамилия, имя, отчество;<br>
    - год, месяц, число и место рождения, гражданство;<br>
    - сведения об изучаемом иностранном языке;<br>
    - сведения об образовании/квалификации;<br>
    - ИНН, номер страхового пенсионного свидетельства государственного пенсионного страхования;<br>
    - паспортные данные;<br>
    - адрес места жительства (фактический, по регистрации), телефон;<br>
    - сведения о воинском учете;<br>
    - сведения о поощрениях и награждениях;<br>
    - сведения о социальных льготах;<br>
    - сведения о стипендии;<br>
    - иные сведения, относящиеся к персональным данным субъекта;</p>
<p class="text-start">Я ознакомлен, что обработка персональных данных включает в себя: получение. использование, накопление, обновление, передачу, хранение, обезличивание, блокирование, уничтожение. Распространение означает передачу данных</p>
<p class="text-start">Условия и запреты на обработку вышеуказанных персональных данных (ч. 9 ст. 10.1 ФЗ от 27.07.2006 № 152-ФЗ «О персональных данных») не устанавливаю. </p>
<p class="text-start">Настоящее согласие распространяет своей действие на обработку и распространение персональных данных с 2021 г. (п. 2 ст. 425 ГК РФ).</p>
<p class="text-start">Условия, при которых полученные персональные данные могут передаваться оператором только по его внутренней сети, обеспечивающей доступ к информации лишь для строго определенных сотрудников, либо с использованием информационно-телекоммуникационных сетей, либо без передачи полученных персональных данных не устанавливаю.</p>

</div>